.BackArrowContainer {
  position: absolute;
  left: 30px;
  cursor: pointer;
  font-size: 2rem;
  .BackArrow {
    color: white;
    transition: all 0.3s;
    &:hover {
      transform: translateX(-20px);
    }
  }
}
