$white: #fefefe;
@mixin FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin PostButton {
  border: 0.1rem black solid;
  font-weight: bold;
  border-radius: 0.5rem;
  background: linear-gradient(
    62deg,
    rgb(21, 213, 235) 0%,
    rgb(255, 0, 191) 100%
  );
  color: white;
}
@mixin Link {
  cursor: pointer;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}
@mixin PostSchema {
  .Post {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    width: 100%;
    height: 100%;
    .PostUserInfo {
      @include FlexCenter();
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      border-bottom: 1px black solid;
      img {
        width: 2rem;
        height: auto;
        margin-right: 1rem;
      }
      grid-area: 1 / 1 / 2 / 2;
    }
    .PostBody {
      grid-area: 2 / 1 / 3 / 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      .PostText {
        padding-top: 0.5rem;
        font-weight: bold;
      }
      .PostPhoto {
        @include FlexCenter();
        padding: 0.5rem;
        padding-bottom: 1rem;
        flex-grow: 3;
        width: 80%;
        img {
          width: 100%;
          height: auto;
          aspect-ratio: 16/9;
        }
        iframe {
          width: 100%;
          height: auto;
          aspect-ratio: 16/9;
        }
      }
    }
    .PostFooter {
      grid-area: 3 / 1 / 4 / 2;
      @include FlexCenter();
      padding-top: 0.5rem;
      border-top: 1px black solid;
      img {
        cursor: pointer;
        width: 8%;
        height: auto;
      }
    }
  }
}
.MainContentGrid {
  position: absolute;
  top: 10vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 0.15fr 0.4fr 2.2fr;
  gap: 0px 0px;
  width: 100%;
  height: 90%;
}
.PersonalNav {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  width: 100%;
  background-color: #fefefe;
  button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.InvalidLinkAlert {
  position: fixed;
  bottom: 0vh;
  width: 100vw;
}
.modal-body {
  @include PostSchema();
}
.createPost {
  width: 80vw;
  height: 10vh;
  margin-top: 1rem;
  background-color: $white;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.5);
  grid-area: 2 / 1 / 3 / 2;
  border-radius: 0.5rem;
  .NewPostBody {
    height: 10vh;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  textarea {
    font-weight: 600;
    width: 100%;
    height: 10vh;
    border: none;
    font-size: 1rem;
    resize: none;
  }
  .UrlUploader {
    @include Link();
  }
  .PictureAndSubmit {
    @include FlexCenter();
    img {
      height: 5vh;
      margin: 0.5rem;
      cursor: pointer;
    }
    .Picture {
      font-size: 1.5rem;
      font-weight: bold;
      input[type="text"] {
        width: 100%;
        border-radius: 0.5rem;
        font-size: 1rem;
        height: 6vh;
      }
      #file-input {
        display: none;
      }
    }
    .PrevievPicture {
      height: 8vh;
      width: 8vw;
      img {
        border: 3px solid black;
        margin-left: 2rem;
        height: 100%;
        width: 100%;
      }
    }
  }
}
.divList {
  // !POST
  padding: 0;
  list-style-type: none;
  position: relative;
  top: 6vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    margin-bottom: 0.75rem;
    width: 40%;
    @include PostSchema();
    .Post {
      background-color: #fefefe;
      border: 2px black solid;
      border-radius: 0.5rem;
    }
  }
}
.WrapperForPreviewButton {
  @include FlexCenter();
  .PrevievInModal {
    @include PostButton();
  }
}
@media (max-width: 1080px) {
  textarea {
    text-align: center;
  }
  .divList {
    li {
      width: 80%;
    }
  }
  .PrevievPicture {
    height: 5vh;
    width: 5vw;
    img {
      margin-left: 0.5rem;
      height: 100%;
      width: 200%;
    }
  }
}
