@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100&display=swap");
body {
  background-color: #fafafa;
  font-family: "Hahmlet", serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    132deg,
    rgb(0, 48, 143) 0%,
    rgb(0, 255, 255) 100%
  );
  background-size: 200% 200%;
  height: 100vh;
  background-repeat: repeat;
}
